# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
venv/
.venv/
env/

# Vector Database
vectordb/

# Logs
logs/
Logs/
*.log

# Uploaded Files
uploads/
images/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Data folder
data/